include AUTHORS.rst
include LICENSE
include README.rst
include CHANGELOG.rst
recursive-include atlas/datasets *
recursive-include atlas/migrations *
recursive-include atlas/templates *
recursive-include atlas/static *
global-exclude *.pyc *~
exclude atlas/data.tbz2
