{% extends "base.html" %}

{% block content %}
    <div class="location-list">
        <div class="title">{{ title }}</div>
        <div class="items">
            <img id="locations-loading" src="{{ STATIC_URL }}web/images/loading.gif" alt="Loading..." width="300" height="215"/>
        </div>
        <script type="text/javascript">
            locationLoader = {
                initLocations: function(data) {
                    container = $(".location-list > .items")
                    container.empty()
                    var locs = data.objects;
                    for (var i = 0; i < locs.length; i++) {
                        var loc = locs[i];
                        var template = "<div class='location-item'>" + 
                            "<div class='title'>" + loc.name + "</div><img alt='" + 
                            loc.name + "' src='" + loc.photo_uri + "' />" +
                            "<div class='meta'><div class='description'>" + loc.description + "</div>";
                        if (loc.coordinates) {
                            var map_link = "http://maps.google.com/maps?q=latitude,longitude&ll=latitude,longitude&z=13";
                            map_link = map_link.replace(/longitude/g, loc.coordinates.longitude + "");
                            map_link = map_link.replace(/latitude/g, loc.coordinates.latitude + "");
                            template += "<a href='" + map_link + "' class='link map-link' >View on Google Maps</a></div></div>";
                        }
                        else {
                            template += "</div></div>";
                        }
                        container.append(template);
                    }
                },

                requestLocations: function() {
                    $.ajax({
                        url: "/atlas/api/v1/location/",
                        dataType: 'json',
                        data: {format: 'json', location: '18.4647774696350098 -33.9770507001982836'}
                    }).done(function (data) {locationLoader.initLocations(data);});
                }
            };

            if (window.addEventListener) {
                window.addEventListener('load', locationLoader.requestLocations, false);
            } 
            else if (window.attachEvent) {
                window.attachEvent('onload', locationLoader.requestLocations);
            }
        </script>
    </div>
{% endblock %}